// Utilities
@import "../utilities/variables";

//colors
$white: white;
$color_robins_egg_blue_approx: #00bcd4;
$black_12: rgba(0, 0, 0, 0.12);
$black_13: rgba(0, 0, 0, .13);
$color_charlotte_approx: #c1eef4;
$color_viking_approx: #4dd0e1;
$color_atlantis_approx: #9acd32;

//fonts
$font_0: Roboto;
$font_1: Helvetica;
$font_2: sans-serif;

//@extend-elements
//original selectors
//html, body
%extend_1 {
  font-family: $font_0, $font_1, $font_2;
  margin: 0;
  padding: 0;
}

html {
  @extend %extend_1;
}

body {
  @extend %extend_1;
}

.mdl-demo {
  .mdl-layout__header-row {
    padding-left: 40px;
  }
  .mdl-layout {
    &.is-small-screen {
      .mdl-layout__header-row h3 {
        font-size: inherit;
      }
      .mdl-layout__tab-bar .mdl-button {
        display: none;
      }
    }
    &:not(.is-small-screen) {
      .mdl-layout__tab-bar {
        overflow: visible;
      }
      .mdl-layout__tab-bar-container {
        overflow: visible;
      }
    }
  }
  .mdl-layout__tab-bar-button {
    display: none;
  }
  .mdl-layout__tab-bar-container {
    height: 64px;
  }
  .mdl-layout__tab-bar {
    padding: 0;
    padding-left: 16px;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    .mdl-layout__tab {
      height: 64px;
      line-height: 64px;
      &.is-active::after {
        background-color: $white;
        height: 4px;
      }
    }
  }
  .mdl-card {
    height: auto;
    display: flex;
    flex-direction: column;
    > * {
      height: auto;
    }
    .mdl-card__supporting-text {
      margin: 40px;
      flex-grow: 1;
      padding: 0;
      color: inherit;
      width: calc(100% - 80px);
      > h3:first-child {
        margin-bottom: 24px;
      }
    }
  }
  .mdl-card__actions {
    margin: 0;
    padding: 4px 40px;
    color: inherit;
    a {
      color: $color_robins_egg_blue_approx;
      margin: 0;
      &:hover {
        color: inherit;
        background-color: transparent;
      }
      &:active {
        color: inherit;
        background-color: transparent;
      }
    }
  }
  #add {
    position: absolute;
    right: 40px;
    top: 36px;
    z-index: 999;
  }
  section {
    &.section--center {
      max-width: 860px;
      .section__text:not(:last-child) {
        border-bottom: 1px solid $black_13;
      }
    }
    > header {
      display: flex;
      align-items: center;
      justify-content: center;
      > .material-icons {
        font-size: 3rem;
      }
    }
    > button {
      position: absolute;
      z-index: 99;
      top: 8px;
      right: 8px;
    }
    .section__circle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 0;
      flex-shrink: 1;
    }
    .section__text {
      flex-grow: 1;
      flex-shrink: 0;
      padding-top: 8px;
      h5 {
        font-size: inherit;
        margin: 0;
        margin-bottom: 0.5em;
      }
      a {
        text-decoration: none;
      }
    }
    &.section--footer {
      padding: 64px 0;
      margin: 0 -8px -8px;
      .section__circle--big {
        width: 100px;
        height: 100px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50px;
        margin: 8px 32px;
      }
    }
    > .section__play-btn {
      min-height: 200px;
    }
    .section__circle-container > .section__circle-container__circle {
      width: 64px;
      height: 64px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 32px;
      margin: 8px 0;
    }
  }
  #features {
    section {
      margin-bottom: 72px;
      &.section--center {
        max-width: 620px;
      }
    }
    h4 {
      margin-bottom: 16px;
    }
  }
  .toc {
    border-left: 4px solid $color_charlotte_approx;
    margin: 24px;
    padding: 0;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 0.9rem;
      margin-top: 0;
    }
    a {
      color: $color_viking_approx;
      text-decoration: none;
      font-size: 16px;
      line-height: 28px;
      display: block;
    }
  }
  .mdl-menu__container {
    z-index: 99;
  }
  main > .mdl-layout__tab-panel {
    padding: 8px;
    padding-top: 48px;
  }
  &.mdl-demo .mdl-card__supporting-text h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .mdl-card__supporting-text + .mdl-card__actions {
    border-top: 1px solid $black_12;
  }
  .mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px;
  }
  .is-small-screen section.section--footer .section__circle--big {
    width: 50px;
    height: 50px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 25px;
    margin: 8px 16px;
  }
  .mdl-layout__tab-panel:not(#overview) {
    background-color: $white;
  }
}

/*custom*/
.card_paragraph_default {
  padding: 0;
  margin: 0;
}

.mdl-mini-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#features h5 {
  margin-bottom: 16px;
}

.mdl-layout__container .bg_fill {
  background-color: $color_atlantis_approx;
}

.last_element {
  margin-bottom: 100px;
}

#table_comp_info, #table_comp_info_tr, #table_comp_info_td {
  border-color: white;
}

