$black: #000;
$white: #fff;

/*Base*/

$base_grey_500: #9E9E9E;
$base_grey_600: #757575;

/*Stock-Android*/
$stock_android_primary_dark: #21272B;
$stock_android_primary: #263238;
$stock_android_accent: #85D3CC;
$stock_android_teal: #009688;
$stock_android_teal_dark: #384248;
$stock_android_white: #FFFFFF;

$notification_background_light: #fffafafa;
$notification_icon_color_light: #424242;

$notification_icon_color: #ffffff;

$notification_circle_bg: #607D8B;

$primary_text_default_material_dark_failsafe: #ffffffff;
$secondary_text_default_material_dark_failsafe: #b3ffffff;
